section.article.context
    h2 What is this?

    :markdown
        Fiction Friday is an experiment in creative motivation. I want to publish a piece of short writing (usually under 2000 words) every Friday to get some of the ideas that bounce around my head out there and see what happens.

        As well as writing new stuff I have a stash of older pieces, so I'll explain where each one came from. While I will try to make each one a complete story it might be that they are only fragments of other things or a spark that might turn into something else.

        All of this is [Creative Commons Attribute-NonCommercial](http://creativecommons.org/licenses/by-nc/2.0/uk/) licensed (but I'm open to negotiation).

        Feel free link to these stories on Twitter or anywhere else you like. If you want to talk I'm at <a href="http://twitter.com/fulljames" rel="external" class="me_ext">@fulljames</a>.
