:markdown
  My dearest Sir Eustace,

  I must apologise profusely, and with the greatest humility, for my actions and those of my companion at the club Thursday last. It was without hesitation the most embarrassing night of my life and one I fear I will haunt me for the rest of my days.

  Indeed, merely recalling the image of that infernal machine crashing through the Jerry Thatcham memorial window and absconding with your finest silver tableware is enough to bring me out in a cold sweat, and the night terrors I have been experiencing are I am sure an equally fitting penance.

  In that regard I do hope that the enclosed cheque for 600 guineas proves sufficient to cover the material damage caused. As to the reputation of the club itself, I do of course understand that such things are not built overnight and indeed the damage in that sense may be irreparable. Consequentially I offer my resignation from the Bridge committee, which I hope you will accept with immediate effect, and return my Treasurer's tie and lapel pin.

  If I had had any idea that the prototype Femroid-R I had undertaken to test for our mutual friend Prof. Raceworthy was so unstable and unsuitable for general use then I would of course have never brought it within a hundred leagues of your fine establishment.  As it stands I can only lament my lax judgement, and although naturally I cannot claim it as any kind of excuse the quantity of cognac I had taken earlier that day may have had some bearing on my own behaviour.

  To take one of the prized antique muskets from the Games Room gun rack without the usual permission was inexcusable, and to attempt to give chase to that damned Femroid in my intoxicated and under-dressed state even more so. It is with great relief that I learn no bystanders were harmed in my pursuit of the machine although I appreciate that some delicate sensibilites will inevitably have been offended.

  To have then set up on the still-sparking carcass of the Professor's creation with my bare fists, whilst bawling in a pure laudanum rage is perhaps the lowest to which I have ever sunk and I dread the damage it has done to my family's name.

  That the experimental Femroid then somehow returned to operation and made a further break for freedom towards the zoological gardens, before detonating in an uncontrolled fission burst, is deeply regrettable, although I understand that the fires are now mostly out and the area will be habitable again in perhaps thirty years. I have offered to rehouse the surviving animals at my own expense and I do sincerely hope that the city council of which you are of course co-Chair is minded to accept this humble proposal.

  I hope these few lines find you well and I remain, sir, your faithful servant,

  Rev'd Lucius Bosgrove, eMP, DHCP, KPMG

  PS I would appreciate it enormously if you could pass on my best wishes to Mrs. Templeton, and I do hope her arms grow back expeditiously.