:markdown
    Freya couldn't believe her eyes, the first time she saw her double. There it was, laughing and joking with Kelvin McLeod on the set of Late & Live, apparently without a care in the world. She was watching it on the edit suite monitors, it could have been video playback were it not for the fact that she knew she had never "done" that show. It was on her List.

    'Impressive, isn't it?' her agent said, grinning, jabbing one of his folded elbows into her side.

    'It's...' Freya started, lost for words. 'It's, impossible.'

    'Well no,' her agent replied, slightly irritated at her lack of belief. 'Clearly it's not impossible, Freya, you're watching it happen.'

    'But, I mean', she stumbled, not really certain which of her conflicting emotions - fear, anger, fascination - ought to get first go with her mouth. 'It's illegal, unethical, isn't it?'

    Her agent sighed and took a seat in one of the large, comfortable edit suite seats.

    'Unethical? Maybe. It is Dreamline after all.' He chuckled, snorting. 'But illegal? I'm sorry, but your contract clearly states that the studio is permitted to use your likeness in any marketing campaign related to your work,' he leant back and steepled his fingers, 'and really "likeness" covers a very broad church.'

    Freya knew that arguing with her agent would be problematic, at best pointless. She'd taken on the five picture deal with Dreamline because the young, handsome executive producer had offered her carbon-neutral productions, ethically traded resourcing and non-exploitative terms for the crew. The actual contract, a hefty sheaf of tiny print, she'd barely skimmed.

    'Well,' she said, indignant but glumly aware her protests would do nothing, 'we'll see.'

    <pre>***</pre>

    Later that week, she was lunching with Rhyl Kenzie at a new Xhosan place on Sunset. Freya admired the younger actress, a staunch feminist who had nevertheless chosen to liberate herself and work exclusively in (impeccably well produced) violent pornography. She was explaining to Rhyl about her double appearing on the McLeod show.

    'I heard about that,' Rhyl said, gesturing with her fork as she chewed on a few strands of rocket. 'The technology they're using to replicate the body and run it is incredibly advanced. Real space age shit.'

    'You're not incredibly outraged by this?' Freya exclaimed, stunned that her usually equally principled companion was not instantly against it.

    'It's kind of weird, sure,' Rhyl replied. 'But there's utility in it. I mean, it wasn't my arms being hacked off in Fuck Force Five.'

    'You mean... you have one too?' Freya was astounded. Every gene in her body was rebelling against this idea that, not only were these... things considered acceptable, they might also be expendable.

    'Oh sure,' Rhyl smiled, at ease with herself. 'Everyone's doing it. It's incredibly useful when you need to be in a couple of places at once. Bruce Amen hasn't done a press junket in three years.' She paused. 'The real Bruce Amen, I mean.'

    Freya thought back to her double's behaviour on the Kelvin McLeod show. It was relaxed, comfortable on the tightly stuffed leather couch, under the bright lights. It was speaking happily about the new film and her relationship with the studio and not really touching on social or environmental issues at all.

    'Honestly,' Rhyl said, lightly touching Freya's arm, 'it makes things so much easier.'

    'Well,' replied Freya, her fascinated revulsion at the idea making her stomach churn. 'We'll see.'

    <pre>***</pre>

    At the weekend Freya visited her agent at home and asked to see her upcoming promotional schedule. It was two weeks of chat shows, mostly, network television with a leaning towards the facile, even the moderately right-wing. Mostly ones from the List. The kind of shows where, if she even turned up, she would be giving the anchor an enormous earful about her Issues.

    She flicked the sheet of paper, irritated.

    'And I suppose that... that thing will be appearing for me?'

    'It's a lot easier that way,' her agent simpered, trying to placate his client's rising anger. 'After all, the studio gets to put out its message much more cleanly, which will help box office, improve merchandising buy-in, and you have production starting on the sequel this week.'

    'Sequel be damned,' Freya snapped, 'I'm going to do all of these shows. And I'm going to say what I want. You can't stop me.'

    She stormed out of her agent's house, slamming the screen door.

    'Well,' her agent said to nothing, steepling his fingers, 'we'll see.'

    <pre>***</pre>

    On Tuesday Freya was downtown, stuck in traffic on her way to the Chip O'Grady show at TBC.

    'You know what LA is like,' her agent was telling her from the earpiece of her cellphone, 'your driver is doing the best he can.' Her driver leant on the car's horn, for effect, but in truth they were going nowhere.

    'But I'm going to be late!' Freya complained, 'I have to do this show, I feel like such a fraud.'

    'It's absolutely fine,' her agent soothed, 'your Replicon is already at the station. They're going to pre-record. Everything's taken care of.'

    'But I told you!' Freya snapped, losing her patience with the traffic, with her agent, with the whole damn five picture deal. 'I have to do the show myself. Me, the actual me. I have things, important things, to say.'

    'It's a lot easier this way,' her agent said, his voice sounding flat and distant at the other end of the line. 'The studio has invested a lot in...'

    'Fuck the studio!' Freya yelled, startled at her own anger, 'Fuck the studio and fuck you, because if you think...' but her voice trailed off. Right at that moment her car was passing a movie billboard, a widescreen eighty sheet poster for a film she had never made, yet was apparently staring in.

    'It's a lot easier this way, Freya,' said her agent. And then all the car's doors locked.