:markdown
    Thanh crouched in a gutter of black, slimy water feeling shit and disease seeping through every stitch of his tattered combats. His numb, frozen hands were locked awkwardly, claw-like around the battered stock and magazine of a rifle that jammed more bullets than it fired.

    The op had started badly and deteriorated from there.

    His 2IC had been late, his point man drunk and the scout, a new guy, Thanh wasn't totally convinced his heart had ever been in it. It certainly wasn't now. He winced as he remembered the explosion, flaps of skin and cloth floating back towards him on the breeze as the refinery objective burned in the distance.

    The rest of the men were scattered across the map, a devastated landscape of shell cratered jungle. Mashed up vegetation and wildlife pureed in stagnant water produced an unholy stink, the ground muddy and unstable, the sky dark with hardwood smoke. Whoever designed this place had really excelled themselves.

    At least, for the time being, everything was relatively still and quiet. Thanh whispered through the bushes to Iaesu, the 2IC, contemplating next moves.

    Then sudden movement, crashing, panicked, up ahead. Thanh forced his gun up to a ready position, not confident he'd get a bullet out of it but showing willing. A shout, gunfire. His pulse quickened, cold hands somehow sweaty. A figure splashed through the wreckage of undergrowth. Iaesu flanked him, pressed his bayonet to the soldier's neck. The intruder froze.

    Adam. It was Adam.

    "Sir," Adam gasped, arms and tunic soaked in blood, "it's Jale. He's, he's dropping sir."

    Thanh swore. They were already light on the op, he couldn't stand to lose another man so soon after the scout. They'd gone in without a ranked medic, tempting fate again, but Thanh had some experience. It would have to do.

    He followed the young soldier on a winding path through the blasted jungle, splashing through flooded craters and scaling the trunks of vast fallen trees. All around was the stench of decay, the sights and sounds of a hounded resistance force, men and boys under the most extreme of pressures.

    A small group of them clustered around Jale's body, which had been pulled clear of the swampy ponds and pools to lie on a makeshift stretcher of roughly sawn planks. Thanh pushed through them, without speaking, and knelt to examine the soldier.

    Jale's skin was deathly pale, his breathing light and ragged. Thanh felt for his pulse, fearing the worst. He'd seen this malaise many times before, and there was little hope for anyone caught in it.

    "How long has he been like this?" Thanh asked, raising his head to look at the faces of the bedraggled audience.

    "Two, maybe three minutes," one of them replied, cropped hair and facial tattoos daubed with blood and slurry.

    Thanh turned back to Jale's prone form and, filtering the beam through his fingers, shone a flashlight into the boy's eyes. Barely a response at all. There was little he could do, only one old trick really and he didn't have much time.

    "Where's he from?" Thanh asked, but the watching soldiers didn't really know. It was so hard to tell.

    "I dunno, Utah I heard," Adam said, quietly, "Ohio maybe." A few murmurs of uncertain agreement.

    Moving carefully, the crater bank soft and unstable, Thanh straddled Jale's chest, pinning him down. He placed one hand on the soldier's forehead, the other on his throat, closed his eyes and concentrated. Drawing images from his own memory, Thanh began to recite the sequence, lips moving silently. He traced Jale's fading energy back through the network, searching for connections, somewhere he could attach the sequence, bring him back. The signal was so faint, bandwidth minimal, it was a miracle Jale was still here at all.

    But there was something there. Thanh increased his pressure on the Jale's forehead, willing him back in to the jungle. A spark deep in his skin, a connection made, a new route, power surging.

    Thanh leapt backwards, splashing into the water, dazed and unbalanced, his men rushing to support him. Jale's body twisted and convulsed on the bed of planks, coughing and retching.

    A minute later the soldier was on his feet, still weak but colour returning to his face. He coughed again, spat into the crater ditch.

    "Be a bastard when they patch that one, huh?" Jale said, smiling. Thanh stepped forwards and gripped his friend's arm, whispering a short prayer of thanks.

    In the distance, as if on cue, the guns started up again, resuming their relentless bombardment of the jungle. Taking them out was the main objective, and the clock was still ticking.

    Thanh reached for his weapon, feeling renewed by his success. He regrouped the men into two squads, point and flank, and set them on their way. Splashing again through the ruined world, he almost felt happiness. They could take this level. And hell, even if they didn't get it right it was a bank holiday. They'd have time to go again.