:markdown
    "Scab!"

    I grimace, preparing to weather the storm.

    "Fuckin scab! Scab!"

    Ah jesus he's off again.

    "Scab! Fuckin scab cunt!"

    I ask him, tell him, to be quiet, but he won't have it.

    It's been like this for weeks now, and really becoming unbearable. I honestly don't know what's gotten into him, why he's become like this. I mean, we were only there for...

    "Scab!"

    We were only there five...

    "Scab fuck!"

    If he'll let me finish, we were only there five minutes. It was all her fault of course. His mother. Demonstrably, she has all the best ideas.

    In the interests of, how did she put it? Oh yeah, in the interests of 'widening his moral-educational horizons' and 'reinforcing his positive societal worldview', she decided it would be a wicked cool idea to take him to see a strike. It would, she explained, help to show him the 'inherent proletarian loyalty among the manufacturing classes', apparently a desirable personal quality for little Joaquin.

    Ideas. As I said, she gets all the best ones.

    "Scab! Scabby scabby!"

    For goodness sake, he's not even three yet.

    So we loaded the little one up in the back of the Audi and drove on down through the checkpoints and barriers in search of the inherent proletarian loyalty among the manufacturing classes. I'm not sure if we found that, but we did see a bunch of old, angry men braving the winter cold outside a Nissan factory.

    Joaquin loved it.

    Even through the security glass and air conditioning you could smell the braziers. Flames guttering, grasping for a hold on damp wood and card, on whatever cloth and plastic they could make burn. I said that the smell brought to mind deadlock. I pictured futile sieges and eventual failure. She corrected me, as is her inalienable right and sworn duty, emoting to him that it was the smell of bravery, of nobility within hardship.

    "Cunt!"

    Well exactly, Joaquin. Exactly.

    Once we'd rolled past the gates, necks craned, once we'd seen the clusters of heckling strikers, the nervous line of community support officers, I didn't think it was worth hanging around much longer. After all it wasn't much of a tourist attraction compared with her usual itinery suggestions. Hardly the Princess Diana memorial. Not a single visitor centre or interpretive forest walk in sight.

    But she was insistent, of course. He needed some time, she said, to fully take it in. Her finger toyed for a moment with the electric window controls at her side, before commanding open her own and Joaquin's. The smells and the sounds magnified.

    Naturally this was the exact moment that a riot van hove into view with the cars of a few plucky strike breakers trailing it. The van pushed at the human barricade outside the factory until it relented, fragmenting from molecules of arm-linked solidarity to randomised neutrons of protest as the force forced its way through.

    The shouts from the strikers at this incursion; well, Joaquin has given a pretty accurate summary of those already. She was mortified of course, her PhD in outraged hypocrisy coming in handy once again. 'How dare they use that kind of language with children present?', I believe were her exact words. How dare they indeed? In a face off between the inherent proletarian loyalty among the manufacturing classes and protecting the sensibilities of the offspring of socially responsible liberal fairies, it's abundantly clear which one has to give.

    "Scab fuckin!"

    Joaquin bangs his plastic spoon on the rim of his plastic bowl. Milk and muesli slops out across the table. He's more interested in the sounds he can make with his crockery than the food it surrounds. He's a big fan of the rhythms he can knock out on it, they go perfectly with his toddler's shout-singing.

    "Scab! Scab scab scabby scab!"

    He looks triumphant. I bury my face in my hands and just wait until his mother gets home.