:markdown
    "So one of the kids here. Have you got time to talk?"

    ...

    "One of the kids here, have I told you about him? He must be about nine, I suppose, skinny, and thinks he's Galactus."

    ...

    "Yeah, that's exactly what I thought. What is Galactus? Sounds like a new kind of SUV, or a file-sharing network, or something. Actually Galactus is the Devourer of Worlds, a cosmic entity on vast scale intrinsically tied to the fabric of the universe. Eats planets for breakfast."

    ...

    "No I'm not making this shit up. It's out of comics, I looked it up."

    ...

    "Yeah well usually they do snap out of it. Our normal method is to humour them. They can't be arsed with it after a few days when you just play along."

    ...

    "You're breaking up."

    ...

    "I dunno, it's more like a solid conviction. You don't really get the feeling he's playing a game, although at some level he must be. This Galactus is supposed to be, like, thirty feet tall, with nuclear powered armour that can prevent or cause the end of the universe. The fan site wiki wasn't exactly clear on which it is. Anyway, a single child clearly doesn't match that description."

    ...

    "No, I don't know. They don't tell us about that kind of thing. Anyway, I don't know what he does but you get some kind of, I suppose, resonance of his conviction when he talks to you. Not like he's putting a voice on, but you hear the echoes of it as if he was. Kind of, boomy."

    ...

    "Yeah, like that. Like the voice is coming from inside your head, but your head is also the size of Wembley Stadium. Probably just the acoustics here, innit."

    ...

    "Well yeah, but the thing is, he'd been in for about a week when he asked if I could take him up to the roof that night. He said there was something he had to show me."

    ...

    "Fuck you."

    ...

    "So as part of our programme of humouring the little basket cases I took him up there. It was a clear night, they always are down here, and he spent a while just staring up at the stars, head craned right back. Eventually he picked one out, just off the axis of Orion, and said 'That's the one. I'm having that one.'"

    ...

    "Yeah I asked him that too. He just told me I'd soon see."

    ...

    "Give me a chance will you?"

    ...

    "This went on for the next few days, each night he'd ask to go up there, and each night he'd pick out that star and tell me it was his."

    ...

    "Blatantly."

    ...

    "So last night we were out on the roof, and he's found his star, and he just tells me to look. And I look and, as I do, it blinks out."

    ...

    "Yeah, clouds, that's what I though. Except that there wasn't one in the sky, the moon's nearly full down here at the moment, you can see the whole galaxy near enough. I kept on looking at that spot for a good long time, but it didn't come back. So then he shifts around, searching the sky. He points out another star, somewhere else, and says 'that one next'."

    ...

    "You're breaking up again."