include ../contacts

section.error
    h2 404

    p That didn't go so well. Whatever you were looking for isn't found.
    p If I ever think of an idea for a 'hilarious' 404 page I'll put it here. Until then, you've got nothing.