---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Stephen Fulljames</title>
  </head>
  <body>
    <main class="justify-center">
      <header>
        <hgroup class="w-5/6 mx-auto">
          <h1 class="font-serif font-black text-white text-3xl">
            stephen fulljames
          </h1>
          <h2
            class="font-serif font-bold italic text-white text-6xl mt-10 leading-9"
          >
            <a href="/">Minimum Viable Portfolio</a>
          </h2>
        </hgroup>
      </header>

      <section class="py-6 shadow-section">
        <ul class="w-5/6 mx-auto">
          <li class="inline-block mr-6">
            <a
              rel="external"
              class="text-red-800 text-sm font-bold hover:underline"
              href="https://www.github.com/fulljames">Github</a
            >
          </li>
          <li class="inline-block mr-6">
            <a
              rel="external"
              class="text-red-800 text-sm font-bold hover:underline"
              href="https://www.flickr.com/emptyjames">Flickr</a
            >
          </li>
          <li class="inline-block mr-6">
            <a
              rel="external"
              class="text-red-800 text-sm font-bold hover:underline"
              href="https://www.lightrailwaystores.co.uk"
              >Light Railway Stores</a
            >
          </li>
          <li class="inline-block mr-6">
            <a
              rel="external"
              class="text-red-800 text-sm font-bold hover:underline"
              href="https://soup.fulljames.net">Soup</a
            >
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
