/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

header {
  background: url('/texture.png') repeat center center;
}

h1 {
  text-shadow: 1px 3px rgba(0, 0, 0, 0.6);
}
h2 {
  text-shadow: 3px -3px 1px rgba(0, 102, 0, 0.7);
  /* line-height: 0.65em; */
}
